body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  color: #333;
}

h1 {
  background-color: cornflowerblue;
  text-align: center;
  margin-top: 0;
  padding: 10px;
}

h2{
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 8px;
  background-color: black;
  color: white;
}

.bottomButton {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 16px;
  background: cornflowerblue;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.next-button {
  padding: 10px 16px;
  background: ivory;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}