.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table th,
.table td {
  border: 1px solid #e5e7eb; // gray-200
  padding: 0.5rem 1rem;
  text-align: left;
}

.table th {
  background-color: #f3f4f6; // gray-100
}

.table tbody tr:hover {
  background-color: #f9fafb; // gray-50
}
